<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Documentation</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css" />
    <style>
    .route-model {
    	display: flex;
    	flex-direction: row;
    	justify-content: space-between;
    	margin: 1em;
    }
    .model {
    	background: #EEE;
    	width: 40%;
    	padding: 1em;
    }

    </style>
</head>
<body >
	<div class="container">
		<h1>Documentation</h1>

	<secton class="routes">
	  <% routes.forEach(route => { %>

	  	<div class="route-model">
		  	<div class="route">

			  	<h4><%= route.path %></h4>

			  	<p>Allowed methods:</p>

			  	<% Object.keys(route.methods).forEach(m => { %>
			  		<p><strong> <%= m.toUpperCase() %></strong></p>
			  	<%}) %>

		  	</div>


		  	<% if(route.path.indexOf("light") !== -1) { %>
		  	<div class="model">
		  		<p><%= light.name %></p>
		  		<% Object.keys(light).forEach((key, index) => {%>
		  			<%= key === "name" ? "" : key %>

		  			<% if(key !== "name") { %>
		  			<ul>
		  				<li>type: <%= light[key].type %></li>
		  				<li>allowNull: <%= light[key].allowNull %></li>
		  			</ul>
		  			<% }%>
		  			<% })%>
		  	</div>
		  	<% } %>

		  	<% if(route.path.indexOf("plant") !== -1) { %>
		  	<div class="model">
		  		<p><%= plant.name %></p>
		  		<% Object.keys(plant).forEach((key, index) => {%>
		  			<%= key === "name" ? "" : key %>

		  			<% if(key !== "name") { %>
		  			<ul>
		  				<li>type: <%= plant[key].type %></li>
		  				<li>allowNull: <%= plant[key].allowNull %></li>
		  			</ul>
		  			<% }%>
		  			<% })%>
		  	</div>
		  	<% } %>


            <% if(route.path.indexOf("temperature") !== -1) { %>
			<div class="model">
				<p><%= temperature.name %></p>
                <% Object.keys(temperature).forEach((key, index) => {%>
                <%= key === "name" ? "" : key %>

                <% if(key !== "name") { %>
				<ul>
					<li>type: <%= temperature[key].type %></li>
					<li>allowNull: <%= temperature[key].allowNull %></li>
				</ul>
                <% }%>
                <% })%>
			</div>
            <% } %>

            <% if(route.path.indexOf("image") !== -1) { %>
			<div class="model">
				<p><%= image.name %></p>
                <% Object.keys(image).forEach((key, index) => {%>
                <%= key === "name" ? "" : key %>

                <% if(key !== "name") { %>
				<ul>
					<li>type: <%= image[key].type %></li>
					<li>allowNull: <%= image[key].allowNull %></li>
				</ul>
                <% }%>
                <% })%>
			</div>
            <% } %>


		  </div>

	  <% });%>
	</secton>

	</div>
</body>
</html>